.canvasHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.canvasHeader h4 {
  margin: 0;
}
