.componentPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.panelHeader {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.panelHeader h4 {
  margin: 0;
  color: #262626;
}

.componentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
